<div style="background-color: whitesmoke">
  <!-- Header Section -->
  <header class="p-1">
    <div class="row" style="height: 10vh">
      <div class="col col-lg-2">
        <app-action></app-action>
      </div>

      <div class="col col-lg-8">
        <app-stat></app-stat>
      </div>

      <div class="col col-lg-2">
          <app-date-time></app-date-time>
      </div>
    </div>
  </header>
  
  <!-- Body Section -->
  <div class="p-1">
    <div class="row" style="height: 85vh">
      <div class="col col-lg-2 h-100">
        <app-side-bar></app-side-bar>
      </div>
      
      <div class="col col-lg-8 h-100 overflow-y-scroll px-2">
        <router-outlet></router-outlet><!--app-add-employee></app-add-employee-->
      </div>

      <div class="col col-lg-2 h-100">
        <app-notification></app-notification>
      </div>
    </div>
  </div>
  
  <!-- Footer Section -->
  <div class="p-1">
    <app-footer></app-footer>
  </div>
</div>