<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <mat-icon class="m-auto">account_circle</mat-icon>
                <strong class="m-auto">Employees</strong>
                <strong class="m-auto">100</strong>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <mat-icon class="m-auto">work_off</mat-icon>
                <strong class="m-auto">Leave Requests</strong>
                <strong class="m-auto">10</strong>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <mat-icon class="m-auto">message</mat-icon>
                <strong class="m-auto">Messages</strong>
                <strong class="m-auto">25</strong>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <mat-icon class="m-auto">event</mat-icon>
                <strong class="m-auto">Events</strong>
                <strong class="m-auto">4</strong>
            </div>
        </div>
    </div>
</div>